/*
    Styles borrowed from Perl6.org's website. I hope thats okay.
*/

body {
	font-family: sans-serif;
}

h1 {
	position: relative;
	font-size: 1em;
	margin: 1em 0 0 0.2em;
}

h1 img {
	position: absolute;
	right: -125px;
	bottom: -150px;
}

pre {
    margin: 0;
}

textarea {
}

#wrapper {
    position: relative;
    padding: 0 100px 0 0;
    width: 40em;
	margin: 50px auto 3em auto;
}

#camelia {
    z-index: 2;
    position: absolute;
}

#content {
    margin: 0 0 0 -60px;
    padding: 0 10px 0;
    color: #1C303E;
    width: 734px;
    font-weight: bold;
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    border: 0.2em solid #4B7FA4;
    background: #68B1E4;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    position: relative;
}

#content textarea {
    padding: 0;
    margin: 0;
}

#content h1 {
    font-size: 24px;
    margin: 5px 0 0 0;
    text-shadow: 1px 1px 2px #8ECFFF;
}

#console {
    position: relative;
    z-index: 2;
}

#stdout {
    border: 2px solid #1C303E;
    border-bottom: none;
    background: #274458;
    background-color: rgba(0, 0, 0, 0.7);
    color: #E1EFFF;
    height: 300px;
    overflow: auto;
    border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -webkit-border-top-right-radius: 1em;
    resize: vertical;
}

#stdout p {
    line-height: 18px;
    font-size: 18px;
    margin: 0;
    padding: 3px 6px;
    white-space: pre-wrap;
}

#stdout p * {
    word-wrap: break-word;
}

#stdout p.stderr {
    background: #EB939A;
    margin: 3px 0;
    color: #332b33;
    border: 2px solid #eb0e20;
}

#stdin {
    font-size: 18px;
    font-weight: normal;
    width: 678px;
    position: relative;
    border: 2px solid #1C303E;
    border-right: none;
    background: white;
    resize: none;
    overflow: auto;
    border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
    outline: none; /* Chrome's focus ring sticks out of the bottom left curve */
}

#stdin_form {
    position: relative;
}

#send_btn {
    z-index: 2;
    margin: 0;
    border: 2px solid #1C303E;
    width: 50px;
    text-align: center;
    background: #4B7FA4;
    padding: 0;
    position: absolute;
    left: 680px;
    height: 63px;
    display: block;
    border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-bottom-right-radius: 1em;
    cursor: pointer;
}

#send_btn span {
    position: absolute;
    top: 50%;
    height: 38px;
    margin: -19px 0 0 4px;
    display: block;
    color: #1C303E;
    font-family: 'Courier New', Courier, monospace;
}

#send_btn.active {
    background: #1C303E;
    border: 2px solid #111;
}

#send_btn.active span {
    background: #1C303E;
    color: #A3C1D7;
}

#commands {
    z-index: 1;
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    border: 0.2em solid #F2C100;
    border-left: none;
    background: #F5EF7B;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-top-right-radius: 1em;
    -webkit-border-bottom-rght-radius: 1em;
    padding: 0 10px 0;
    top: 200px;
    width: 210px;
    left: 600px;
    position: absolute;
}

#commands h2 {
    margin: 10px 0 3px;
    padding: 0 10px 0 20px;
}

#commands small {
    text-align: right;
    width: 200px;
    display: block;
    color: #75713B;
    font-size: .7em;
}

#commands ul {
    padding: 0 0 0 20px;
}

#commands li ul {
    margin: 0;
    display: block !important;
}

#commands a {
    color: #5D33A8;
}

th {
    text-align: right;
}

.keyword {
    color: #FFB454;
}

.var  {
    color: #95F39F;
}

.num {
    color: #E9DD72;
}

.str {
    color: #5FE461;
}

.list {
    color: #0f0;
}

#hidden {
    display: none; 
    visibility: none;
}

#loading {
    position: absolute;
    top: 320px;
    left: 248px;
}
