body {
	font-family: sans-serif;
	max-width: 40em;
	margin: 50px auto 3em auto;
}

h1 {
	position: relative;
	font-size: 1em;
	margin: 1em 0 0 0.2em;
}

h1 img {
	position: absolute;
	right: -140px;
	bottom: -80px;
}

textarea {
}

#camelia {
    position: absolute;
    top: -60px;
}

#content {
    margin: 0 auto;
    font-weight: bold;
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    border: 0.2em solid #63a4ff;
    background: #80b5ff;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    position: relative;
    padding: 0em 0 0em 0;
}

#content textarea {
    padding: 0;
    margin: 0;
}

#content h1 {
    font-size: 24px;
}

#stdout p {
    line-height: 18px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#stdout p.stderr {
    background: #EB939A;
    margin: 3px 0 3px 0;
    padding: 0 3px 3px;
    color: #332b33;
    border: 2px solid #eb0e20;
}

#stdout {
    border: 3px solid black;
    background: #274458;
    color: #E1EFFF;
    height: 300px;
    overflow: auto;
    padding: 3px 6px;
}

#stdin {
    font-size: 18px;
    font-weight: normal;
    width: 577px;
    position: relative;
    border: 1px solid black;
    background: white;
    resize: none;
    overflow: auto;
}

#stdin_form {
    position: relative;
}

#send_btn {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #ccc;
    width: 50px;
    text-align: center;
    background: #bbb;
    padding: 12px 0 10px 0;
    position: absolute;
    left: 580px;
}

#send_btn.active {
    background: #222;
    border: 2px solid #111;
    color: white;
}

th {
    text-align: right;
}

.keyword {
    color: #FFB454;
}

.var  {
    color: #95F39F;
}

.num {
    color: #E9DD72;
}

.str {
    color: #5FE461;
}