body {
	font-family: sans-serif;
	max-width: 40em;
	margin: 50px auto 3em auto;
}

h1 {
	position: relative;
	font-size: 1em;
	margin: 1em 0 0 0.2em;
}

h1 img {
	position: absolute;
	right: -140px;
	bottom: -80px;
}

#RakudoShell-form {
	position: absolute;
	border: 1px solid black;
	background: darkGray;
	height: 15em;
}

#RakudoShell-out {
	white-space: pre;
	font-family: monospace;
	width: 40em;
	max-height: 13.5em;
	overflow: auto;
	background: lightGray;
	overflow: auto;
}

#RakudoShell-in {
	font-family: monospace;
	border: 2px solid black;
	background: lavender;
	display: block;
	width: 100%;
	font-size: 1em;
	padding-left: 2px;
	margin-left: -3px;
	margin-bottom: -2px;
}

.RakudoShell-status-ready #RakudoShell-in {
	border-color: lime;
}

.RakudoShell-status-locked {
	cursor: wait;
}

.RakudoShell-status-locked #RakudoShell-in {
	border-color: red;
	cursor: wait;
}

.RakudoShell-status-failed #RakudoShell-in {
	border-color: maroon;
}

p {
	margin-top: 16em;
}